/**************TYPOGRAPHY:

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing systeme (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1c1c1c;
  background-color: #f7fafc;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
/**************************************/
/* REUSABLE ELEMENTS */
/**************************************/
.actions-hidden,
.menu-icon,
.categories-texts-hidden,
.countdown-hidden,
.source-now-hidden {
  display: none;
}
.hidden {
  display: none;
}
.search-bar-container-hidden {
  display: none;
}
.grid--4-column {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-column {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6-column {
  grid-template-columns: repeat(6, 1fr);
}
.grid--7-column {
  grid-template-columns: repeat(7, 1fr);
}
.container {
  max-width: 118rem;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.container-nomargin {
  max-width: 118rem;
  padding: 0 1rem;
  margin: 0 auto;
}
/**************************************/
/* HEDAER */
/**************************************/
header {
  background-color: white;
}
.no-margin-top {
  margin-top: 0;
}
.header {
  padding: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px;
}
.search-icon-hidden {
  display: none;
  font-size: 2rem;
  color: #505050;
}
.actions {
  display: flex;
  gap: 2rem;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #0d6efd;
  border-radius: 1rem;
  align-items: center;
  /* padding:; */
}
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
}
.search {
  font-size: 1.6rem;
  width: 42.1rem;
  height: 4rem;
  line-height: 1.9rem;
  border: none;
  border-right: none;
  padding: 0.8rem 1.4rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #0d6efd;
}
.allcategories {
  display: flex;
  gap: 10%;
  background-color: white;

  width: 25%;
  justify-content: space-around;
  align-items: center;
}
.allcategories img {
  width: 12%;
}
.allcategories p {
  background-color: white;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  border: none !important;
}

.search-btn {
  background-color: #0d6efd;
  color: white;
  padding: 0.8rem 1.4rem;
  font-weight: 300;
  border-radius: 1rem;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  align-self: stretch;
}
.action-text {
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  color: #8b96a5;
}
.action-icon {
  height: 1.9rem;
}
/**************************************/
/* NAV BAR */
/**************************************/

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding: 1.8rem;
  margin-top: 0;
}
.nav-bar {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
}
.nav-list {
  display: flex;
  gap: 2rem;
  color: #1c1c1c;
  font-size: 1.6rem;
  font-weight: 500;
  width: max-content;
  height: fit-content;
  align-items: center;
}
.payment,
.shipto {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
}
/**************************************/
/* Menu */
/**************************************/
.main-section {
  margin-top: 2rem;
  /* width: 117em;
  height: 38rem; */
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  padding: 1rem;
}
.Menu {
  /* width: 25rem;
  height: 36rem; */
  font-size: 1.6rem;
  text-align: start;
}

.banner {
  width: 66rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner-text {
  padding: 4rem;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.3rem;
  letter-spacing: 0.05rem;
}
.banner-text p:nth-child(2) {
  margin-top: 0.5rem;
  font-size: 3.2rem;
  font-weight: 700;
}
.menu-list {
  list-style-type: none;
}
.menu-list li {
  height: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #505050;
}
.menu-list li:first-child {
  background-color: #e5f1ff;
  font-weight: 500;
  color: #1c1c1c;
}
.banner {
  background-image: url(img/casque\ noir.svg);
}
.banner-btn {
  margin-top: 1.8rem;
  background-color: white;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  width: 11.9rem;
  box-shadow: 4px 2px 15px rgba(128, 128, 128, 0.117);
}

.cta-section {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.cta01 {
  display: flex;
  /* height: 9.5rem; */

  flex-direction: column;
  background-color: #e3f0ff;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.7rem;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.join-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  height: 3rem;
  width: 18rem;
}
.log-btn {
  background-color: white;
  color: #0d6efd;
  border: 1px solid #dee2e7;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  height: 3rem;
  width: 18rem;
}
.cta02 {
  height: 9.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.8rem;
  color: white;
  background-color: #f38332;
  border-radius: 0.2rem;
  width: 100%;
}

.bgcolor {
  background-color: #55bdc3;
}
/**************************************/
/* Menu */
/**************************************/
.sale-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  margin-top: 2rem;
  /* width: 117rem;
  height: 24rem; */
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  /* padding: 1rem; */
}
.countdown {
  padding: 2rem;
}
.countdown p {
  font-weight: 300;
  font-size: 1.6rem;
  color: #8b96a5;
  line-height: 1.2;
  border-left: none !important;
}
.countdown strong {
  font-size: 2rem;
  font-weight: 600;
  color: #1c1c1c;
}
.time {
  margin-top: 2rem;
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
}
.time p {
  background-color: #606060;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.7rem 0;
  font-weight: 400;
  border-radius: 0.5rem;
  height: 5rem;
  width: 4.5rem;
}
.time strong {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}
.sel3a-s {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  align-items: center;
}
.sel3a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-right: 1px solid #dee2e7;
}
.sale-section :nth-child(2) {
  border-left: 1px solid #dee2e7;
}
.sale-section :last-child {
  border-right: 0px solid #dee2e7;
}
.sel3a img {
  height: 14rem;
  width: 14rem;
}
.sel3a p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  line-height: 2.4rem;
  text-align: center;
  border-left: none !important;
}
.sel3a span {
  background-color: #ffe3e3;
  color: #eb001b;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
/**************************************/
/* HOME SECTION */
/**************************************/
.home-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-top: 2rem;
  /* width: 117rem;
  height: 25.7rem; */
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  padding: 0 0;
  align-content: center;
  width: fit-content;
}
.home {
  grid-row: 1/3;
  background-image: url(img/home.svg);
  font-weight: 300;
  font-size: 1.6rem;
  color: #8b96a5;
  line-height: 1.2;
  width: 28rem;
  padding: 2.2rem;
}
.home-description {
  padding: 1rem;
}
.home-product {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
  /* border: 0.01px solid #dee2e7; */
}
.home-btn {
  margin-top: 1.8rem;
  background-color: white;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  width: 11.9rem;
  box-shadow: 4px 2px 15px rgba(128, 128, 128, 0.117);
}
.home-product:nth-child(2),
.home-product:nth-child(3),
.home-product:nth-child(4) {
  border-left: 1px solid #dee2e7;
  border-bottom: 1px solid #dee2e7;
  /* width: 21.99rem; */
}
.home-product:nth-child(6),
.home-product:nth-child(7),
.home-product:nth-child(8) {
  border-right: 1px solid #dee2e7;
  padding-right: 0.1rem;
}
.home-product:nth-child(5) {
  border-left: 1px solid #dee2e7;
  border-bottom: 1px solid #dee2e7;
}
.home-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing: 0.05rem;
  color: #1c1c1c;
}
.home-product p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 1rem;
}
.home-product img {
  height: 8.2rem;
  width: 8.2rem;
  align-self: end;
}

.home-product span {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #8b96a5;
}
/**************************************/
/* CONSUMER SECTION */
/**************************************/
.consumer-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-top: 2rem;
  /* width: 117rem;
  height: 25.7rem; */
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  padding: 0 0;
}
.consumer {
  grid-row: 1/3;
  background-image: url(img/consumer.svg);
  font-weight: 300;
  font-size: 1.6rem;
  color: #8b96a5;
  line-height: 1.2;
  width: 28rem;
  padding: 2.2rem;
}

/**************************************/
/* CONSUMER SECTION */
/**************************************/
.inquiry-section {
  display: flex;
  justify-content: space-between;
  /* width: 117rem;
  height: 42rem; */
  background-image: linear-gradient(to right, #2c7cf1, #00d1ff80),
    url(img/building.svg);
  background-size: cover;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  padding: 18px;
}
.in-text {
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid #dee2e7;
  height: 4rem;
  color: #1c1c1c;
  border-radius: 0.6rem;
}
.inquiry-text {
  padding: 1rem;
  text-align: start;
  width: 44rem;
}

.in-text01 {
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.8rem;
  margin-bottom: 1rem;
}

.in-text02 {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.4rem;
  color: white;
}

.inquiry-btn {
  background-color: #0d6efd;
  color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;
  border: none;
  align-self: start;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.5px;
}
.inquiry-container {
  background-color: #ffffff;
  box-shadow: 4px 2px 15px rgba(128, 128, 128, 0.117);
  height: 34rem;
  width: 49rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 1rem;
  padding: 2rem;
}
.details {
  height: 7.3rem;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #8b96a5;
  padding: 0.8rem;
  position: relative;
}
.quantity-input {
  width: 20.6rem;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #1c1c1c;
  padding: 1rem;
}
.pcs {
  display: flex;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #1c1c1c;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 0.8rem;
  gap: 4rem;
}

.input03 {
  display: flex;
  gap: 1.2rem;
  color: #1c1c1c;
}
.pcs-icon {
  height: 1rem;
  width: 1rem;
}
.resiser {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  right: 0;
  color: #e4e4e4;
}
/**************************************/
/* RECOMMONDATION SECTION */
/**************************************/
.recom-section {
  width: fit-content;
}
.heading {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
.clothes {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-rows: 1fr 1fr;
}
.cloth-price {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #1c1c1c;
  padding-left: 1rem;
}
.cloth-description {
  color: #8b96a5;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  padding-left: 1rem;
}
.clothe {
  background-color: white;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  margin: 1.55rem;
  margin-left: 0;
  margin-top: 0;
  padding: 1rem;
  width: 22rem;
}
.cloth-img {
  width: 100%;
  margin-bottom: 1.8rem;
}

/**************************************/
/* SERVICE SECTION */
/**************************************/
.service-section {
  padding: 0 0;
}
.services {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 1.4rem;
}
.service {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 28rem;
  height: 20rem;
  background-color: white;
  border: 1px solid #dee2e7;
  border-radius: 0.6rem;
  position: relative;
}
.service-img {
  background-image: linear-gradient(black, black), url(img/boxes.svg);
  background-size: cover;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}
.service-description {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #1c1c1c;
  padding: 2rem;
}
.service-icon {
  border: 1.8px solid white;
  position: absolute;
  top: 9.5rem;
  right: 2rem;
  padding: 1.5rem;
  background-color: #d1e7ff;
  border-radius: 50%;
}
.service-icon img {
  background: #d1e7ff;
  width: 2rem;
  height: 2rem;
}
.padding-smaller {
  padding: 1.3rem;
}
.service-icon .bigger {
  width: 2.4rem;
  height: 2.4rem;
}
/**************************************/
/* SERVICE SECTION */
/**************************************/
.region {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.regions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.region-name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  color: #1c1c1c;
}
.region-description {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #8b96a5;
}

/**************************************/
/* newsletter SECTION */
/**************************************/
.email-bar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 3rem;
}
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eff2f4;
  padding-top: 4rem;
  margin-top: 5rem;
}
.newsletter h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02rem;
  color: #1c1c1c;
}
.newsletter h4 {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: -0.02rem;
  color: #606060;
}
.email-btn {
  border-radius: 0.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.email-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #8b96a5;
  background-color: white;
  width: 27.4rem;
  height: 4rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid #dee2e7;
}
.email-icon {
  font-size: 2rem;
}
/**************************************/
/* SERVICE SECTION */
/**************************************/
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}
.logo-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27.6rem;
  height: 15.7rem;
}
.logo-section p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  color: #505050;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 13rem;
  height: 13.7rem;
}
.getapp img {
  width: 12.4rem;
  height: 4.2rem;
}
.section h3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #1c1c1c;
  margin-bottom: 1rem;
}
.section p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  color: #8b96a5;
}
.logo {
  width: 150px;
  height: 46px;
  padding: 1px 23.79px 1px 0px;
}
.footer² {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #606060;
  letter-spacing: -0.02rem;
  align-items: center;
}
.social-icons {
  display: flex;
  gap: 1rem;
}
.language {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.downarrow {
  transform: rotate(180deg);
  filter: brightness(0);
}
.language-icon {
  width: 2.4rem;
  height: 1.7rem;
}
.expand-footer {
  background-color: #eff2f4;
  height: 6.8rem;
  border-top: 1px solid #dee2e7;
  margin-top: 2rem;
}
